.title {
    margin: 35px 55px;
}

#button-playGame {
    margin: 35px 55px;
}

.board-border {
  border: 3px solid black;
  padding: 16.5% 0;
}

.background-X, .background-O {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-X{
  background-image: url('../images/tttx.png');
}

.background-O{
  background-image: url('../images/ttto.png');
}